PORT=3001
JWT_SECRET=seu_secret_aqui_mesmo_do_backend
DATABASE_URL=postgresql://usuario:senha@localhost:5432/tech_refresh
FRONTEND_URL=https://portal.tech-refresh.cloud
ALLOWED_DOMAINS=@grupobimbo.com,@global.nttdata.com,@gbsupport.net,@nttdata.com,@pasqualisolution.com.br
